BODY {
    background: darkblue url(images/bg.png) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;

    overflow:  hidden;
    font-family: "Akrobat", sans-serif;
    font-style: normal;
    color: #FFFFFF;
}
.game_container {
    position: relative;
    top: 18vh;
    height: 64vh;
    width: 44vw;
    left: 27vw;
    user-select: none;
}
.top_container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6vh;

    display: flex;
    justify-content: space-between;
}
.bottom_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vh;

    display: flex;
    justify-content: space-between;
}
.circle-bottom_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.circle-top {
    z-index: 9;
    height: 6vh;
}
.circle-bottom {
    height: 6vh;
}
.line {
    position: absolute;
    height: 10vh;
    width: 2vh;
    transform-origin: bottom;
    margin-bottom: 3vh;
    border-radius: 1vh;
    display: none;
}
.gameover_container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 99;
}